/* Styleing the header */
.front-page-header {
  height: 400px;
  width: 100%;
  background-color: #e67700;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px;
}

.image {
  display: flex;
  justify-content: center; 
}

/* Centering the text */
.full-name {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

h2 {
  font-weight: 700;
  color: white;
  font-weight: bold;

}

.last-name {
  font-weight: 500;
}

