button { 
  background-color: #4056A1;
  color: #f4f1ec;
  font-family: 'Bungee', sans-serif;
 }
 
div {
  font-family: 'Bungee', sans-serif;
  /* display: flex; */
  justify-content: space-between;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90px;
  align-items: baseline;
}

.userhandle {
  display: flex;
  justify-content: flex-end;
}

.tweet {
  border: 5px;
  border-style: solid;
  color: #545149;
  margin: 10px;
}

article footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweet-paragraph {
  width: 100%;
  color: #545149;
  border-bottom: solid;
  padding-left: 1%;
  padding-right: 1%;
  overflow-wrap: break-word;
}

.profile-img {
  max-width: 5%;
  max-height: 50%;
  padding-left: 1%;
  padding-top: 1%;
}

.icons {
  padding-right: 1%;
  color: blue;
}

footer p {
  padding-left: 1%;
}

.error-box {
  border: 2px;
  border-style: solid;
  color: #FF0000;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

.name-tag {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}